@import url("reset.css");

.sWrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.sWrapper .sLeftColumn {
    width: 100px;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sWrapper .sMainContent {
    height: 100%;
    width: 100%;
    background-color: gray;
}